# Template for .env file
# Copy this file to .env and fill in the values: cp env-template .env
# The values in this file are the makefile defaults.
# Export it as: export $(egrep -v '^#' .env | xargs)
DB_HOSTNAME=localhost
DB_PORT=5432
DB_NAME=twitter
DB_USERNAME=postgres
DB_PASSWORD=Pass1234!
API_PORT=8888
MIGRATIONS_PATH=/Users/ricardol/git-perso/twitter-clone/migrations
